{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    }
  },
  "module": {
    "type": "es6"
  },
  "env": {
    "mode": "usage",
    "coreJs": 3,
    "shippedProposals": true
  },
  "sourceMaps": true
}
